.index {
  -webkit-animation: infinite;
  -webkit-animation-direction: reverse;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 10s;
  -webkit-animation-play-state: running;
}

@keyframes move {
  0% {
  }
  10% {
    transform: translateX(-40rem);
  }
  20% {
    transform: translateX(-60rem);
  }
}
